################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApi2/DesignTimeBuild
/.vs/WebApi2/v17/.futdcache.v1
/.vs/WebApi2/project-colors.json
